body {
    background-color: #92B9BD;
}

.container {
    width: 50%;
    height: 100vh;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 2px solid black;
    font-family: 'Cormorant Garamond', serif;
}

.title {
    margin: 1rem;
    align-self: center;
    font-size: 40px;
}

.form-separate {
    margin: 1rem;
    border-radius: 10px;
    padding: 1rem;
}

.button {
    margin: 1rem;
    width: 20%;
    align-self: center;
    padding: 1rem;
    border-radius: 25px;
}
